:root {
	/* colores oscuros */
	--primary-0: #0a0a0f;
	--primary-10: #13131a;
	--primary-20: #1e1e2a;
	--primary-30: #29293a;
	--primary-40: #34344b;
	--primary-50: #3f3f5b;
	--primary-60: #4a4a6c;
	--primary-70: #5a5a80;
	--primary-80: #6a6a94;
	--primary-90: #7a7aa8;
	--primary-95: #8a8abd;
	--primary-99: #9a9ad1;
	--primary-100: #ffffff;

	--secondary-0: #0d0d0d;
	--secondary-10: #191919;
	--secondary-20: #242424;
	--secondary-30: #303030;
	--secondary-40: #3b3b3b;
	--secondary-50: #464646;
	--secondary-60: #515151;
	--secondary-70: #6b6b6b;
	--secondary-80: #858585;
	--secondary-90: #9e9e9e;
	--secondary-95: #b8b8b8;
	--secondary-99: #d1d1d1;
	--secondary-100: #ffffff;

	/* colores de las propiedades */
	--surface: #2c2c36;
	--surface-variant: #393945;
	--surface-dim: #50505e;
	--surface-bridge: #6a6a7e;

	--primary: var(--primary-60);
	--on-surface-primary: var(--primary-10);
	--on-primary: var(--primary-95);

	--secndary: var(--secondary-70);
	--on-surface-secondary: var(--secondary-95);
	--on-secondary: var(--secondary-95);

	/* texto */
	--text-small: 1.2rem;
	--text-medium: 1.4rem;
	--text-large: 1.6rem;
	--text-x-large: 2rem;
	--text-xx-large: 3.1rem;
	--text-xxx-large: 4.4rem;
	--text-title: 2rem;
	--text-general: 1.6rem;
	--text-button: 1.2rem;
	--font-montserrat: 'Montserrat', sans-serif;
	--max-width: 108rem;
	--site-bg: var(--primary-0);
	--hero-bg: linear-gradient(
		-54deg,
		var(--primary-0) -23%,
		var(--primary-20),
		var(--primary-0) 51%
	);

	--text-gradient: radial-gradient(
		circle farthest-corner at center center,
		#6a6a94 0%,
		#34344b 100%
	);
}
* {
	box-sizing: border-box;
}
html {
	font-family: var(--font-montserrat) !important;
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	width: 100%;
	background: var(--site-bg) no-repeat;
	background: var(--site-bg) no-repeat;
}
main {
	align-self: center;
}
p {
	color: var(--primary-100);
	font-size: var(--text-general);
}

.color__gradiente {
	background: var(--text-gradient);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.max__width {
	max-width: 117.8rem;
}
