---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Me especializo en el desarrollo full stack, con un enfoque en tecnologías del ecosistema Node.js, como Express y NestJS. También tengo experiencia en front-end utilizando Angular, Vue, React y Astro, lo que me permite crear interfaces dinámicas y optimizadas. Mi conocimiento de JavaScript y TypeScript me brinda la capacidad de trabajar en proyectos tanto del lado del cliente como del servidor.

Además, tengo experiencia trabajando en la nube con AWS, implementando soluciones escalables y seguras. He participado en proyectos significativos para Perú y Ecuador en el sector de transporte y monitoreo GPS, integrados con tecnologías como Wialon. También manejo Python, que utilizo en proyectos específicos cuando es relevante.
		</p>
	</div>
</section>
