---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Habilidades" />
		<p>
			Me especializo en tecnologías front-end como Angular, Vue, React, y Astro, creando interfaces dinámicas y optimizadas. Además, manejo tecnologías basadas en JavaScript y TypeScript, incluyendo Express y NestJS, lo que me permite trabajar tanto en el desarrollo del front-end como del back-end. También tengo experiencia con Python, que utilizo en proyectos cuando es relevante.
		</p>
	</div>
</section>
