---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="RafaeDev">
	<div class="terminal__skills">
		<h2>Mis habilidades</h2>
		<div class="terminal__skills__container">
			<TerminalIcon src="/assets/angular.png" name="Angular" />
			<TerminalIcon src="/assets/vue.png" name="Vue" />
			<TerminalIcon src="/assets/react.png" name="React" />
			<TerminalIcon src="/assets/nest.png" name="Nest js" />
				<TerminalIcon src="/assets/nodejs.png" name="Node js" />
			<TerminalIcon src="/assets/mongodb.png" name="MongoDB" />
			<TerminalIcon src="/assets/mysql.png" name="MYSQL" />
			<TerminalIcon src="/assets/postgresql.png" name="PostgreSQL" />
		
			<TerminalIcon src="/assets/docker.png" name="Docker" />
			<TerminalIcon src="/assets/aws.png" name="AWS" />
		</div>
	</div>
</Terminal>
