.base {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.base {
	width: min-content;

}
.icon {
	font-size: 9rem;
}

.name {
	font-size: var(--text-general);
}
.icon {
	width: 10rem;
	height: 10rem;
	background-image: var(--icon-url);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

